<header>
  <span>{{ title() }}</span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/category" routerLinkActive="active" href="/category">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/newspaper" routerLinkActive="active" href="/newspaper">Newspaper</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/article" routerLinkActive="active" href="/article">Article</a>
    </li>
  </ul>
</header>
