<h1>Article Page</h1>
<form (ngSubmit)="onSubmit()" #articleForm="ngForm">
  <div class="form-group">
    <label for="articleTitle">Article Title</label>
    <input type="text" class="form-control" [(ngModel)]="articleTitle" id="articleTitle" name="articleTitle" required
      placeholder="Enter article title">
    <!-- <small id="errorMessage" *ngIf="validationError" class="text-danger">
      {{ validationError }}
    </small> -->
  </div>
  <div class="form-group">
    <label for="articleContent">Article Content</label>
    <input type="text" class="form-control" [(ngModel)]="articleContent" id="articleContent" name="articleContent"
      required placeholder="Enter article content">
    <!-- <small id="errorMessage" *ngIf="validationError" class="text-danger">
      {{ validationError }}
    </small> -->
  </div>
  <div class="form-group">
    <label for="newspaperId">Newspaper name</label>
    <select class="form-select" [(ngModel)]="selectedNewspaper" (change)="onSelectionChange()" name="newspaperId"
      aria-label="Default select example">
      <option [value]="0" disabled selected>Open this select menu</option>
      <option *ngFor="let newspaper of newspaperArray" [value]="newspaper.newspaperId">{{ newspaper.newspaperName}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="newspaperId">Category name</label>
    <select [(ngModel)]="selectedCategory" name="categoryId" class="form-select" aria-label="Default select example">
      <option [value]="0" disabled selected>Open this select menu</option>
      <option *ngFor="let category of categoryArray" [value]="category.categoryId">{{ category.categoryName }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<h3 style="margin-top: 15px;">Article List</h3>
<ol class="list-group list-group" *ngFor="let article of articleArray">
  <li style="margin-bottom: 5px;" class="list-group-item">
    <h4>{{ article.title }}</h4>
    <p>{{ article.content }}</p>
    <p>Newspaper: {{ article.newspaperName }}</p>
    <p>Category: {{ article.categoryName }}</p>
    <button data-toggle="modal" data-target="#exampleModalCenter" (click)="onEdit(article.articleId, article)"
      class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i
        class="fa fa-edit"></i></button>
    <button (click)="onDelete(article.articleId)" style="margin-left: 5px;" class="btn btn-danger btn-sm rounded-0"
      type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
  </li>
</ol>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Article</h5>
        <button (click)="closeModal()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="categoryName">Article Title</label>
          <input type="text" class="form-control" [(ngModel)]="articleObj.title" id="newspaperName"
            name="newspaperName">
        </div>
        <div class="form-group">
          <label for="categoryName">Article Content</label>
          <input type="text" class="form-control" [(ngModel)]="articleObj.content" id="newspaperDescription"
            name="newspaperDescription">
        </div>
        <div class="form-group">
          <label for="newspaperId">Newspaper name</label>
          <select [(ngModel)]="selectedNewspaper" (change)="onSelectionChange()" name="newspaperId" class="form-select"
            aria-label="Default select example">
            <option [value]="0" disabled selected>Open this select menu</option>
            <option *ngFor="let newspaper of newspaperArray" [value]="newspaper.newspaperId">
              {{ newspaper.newspaperName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="newspaperId">Category name</label>
          <select [(ngModel)]="selectedCategory" name="categoryId" class="form-select"
            aria-label="Default select example">
            <option [value]="0" disabled selected>Open this select menu</option>
            <option *ngFor="let category of categoryArray" [value]="category.categoryId">{{ category.categoryName }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
      </div>
    </div>
  </div>
</div>
